/* BLUEHOST */

body {
	background-color: #f4f7f9;
	color: #5c5c5c;
	font-family: "Open Sans", "Helvetica Neue", Helvetica;
	font-size: 16px;
}

#wrapper #page-content-wrapper {
	padding-top: 54px;
}

#wrapper .title {
	font-size: 34px;
    font-weight: 300;
    margin-bottom: 30px;
}

#wrapper .panel-default {
	border-color: #dce0e6;
	box-shadow: 0 1px 2px #dce0e6;
}

#wrapper .panel .panel-body {
	padding: 30px 36px;
}

#wrapper .panel.primary-cta p {
	margin-bottom: 24px;
}

#wrapper .panel.sub-cta .panel-body {
	padding: 15px 20px;
}

#wrapper .panel.sub-cta h4 {
	line-height: 34px;
}

#wrapper .panel.sub-cta a {
	color: #5c5c5c;
}

#wrapper .panel.sub-cta .glyphicon {
	font-size: 22px;
	margin-right: 12px;
}

#wrapper .panel.primary-cta .btn-primary {
	margin-right: 20px;
	padding: 10px 20px;
}

#wrapper .btn-default {
	border-color: #3977d0;
	color: #3977d0;
	padding: 10px 20px;
}

#wrapper .btn-primary {
	padding: 10px 20px;
}



.tips-panel ul {
	padding: 0;
}

.tips-panel ul li {
	background: top left url(/images/bulb.png) no-repeat;
	background-size: 34px;
	list-style: none;
	padding-left: 44px;
	padding-top: 5px;
}

.tips-panel ul p {
	font-size: 14px;
	line-height: 24px;
}

.tips-panel ul p strong {
	font-size: 16px;
}

.help-center {
	line-height: 60px;
}

.help-center h4 {
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	#wrapper.bluehost {
	padding-left: 264px;
	padding-right: 12px;
	}
	#wrapper.bluehost .panel.content-well {
		height: 298px;
	}
	#wrapper.bluehost .panel.primary-cta {
	line-height: 26px;
	}
	#wrapper .navbar-brand {
		height: 75px;
		line-height: 40px;
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: -4px;
	}
	.navbar-nav>li>a {
		font-size: 24px;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.content-well img {
		margin-left: -15px;
    	margin-top: 5px;
	}
}

@media (max-width:767px) {
	#wrapper.bluehost .panel.primary-cta a {
		display: block;
	}
	#wrapper.bluehost #sidebar-wrapper {
		top: 51px;
	}
	#wrapper.bluehost #page-content-wrapper {
		padding-top: 24px;
	}
}
